:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: var(--greyLight-1);
}

.components {
  margin-top: 30px;
  width: 75rem;
  height: 39rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
          box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 30px 0 0 0;
}

.switcher__wrapper {
  -webkit-box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}

.switcher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 140px;
  color: var(--greyDark);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.switcher__item:hover {
  color: var(--primary);
  cursor: pointer;
}

.active {
  color: var(--primary);
}

.switcher__color {
  position: absolute;
  height: 40px;
  width: 120px;
  margin-left: -120px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  pointer-events: none;
}

.table__wrapper {
  margin-top: 30px;
  width: 800px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table__item {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table__title {
  color: var(--greyDark);
  font-size: 18px;
}

.table__window {
  margin-top: 20px;
  height: 350px;
  width: 350px;
  -webkit-box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 15px;
}

.column__wrapper {
  height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table__buttons {
  margin-top: 12vw;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.arrow .img-svg path {
  width: 20px;
  fill: var(--greyLight-2) !important;
}

.arrow:hover .img-svg path {
  fill: var(--primary) !important;
}

.button__active {
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.button__active .img-svg path {
  fill: var(--primary) !important;
}

.build-buttons {
  bottom: 50px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.build-buttons__item {
  border-radius: 10px;
  height: 80px;
  width: 100px;
  -webkit-box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: var(--greyDark);
}

.build-buttons__item:hover {
  color: var(--primary);
}

.build-buttons__item:active {
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--primary);
}

.build:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.build:hover svg path {
  fill: var(--primary);
}

.build:active svg path {
  fill: var(--primary);
}

.clear svg {
  width: 30px;
}

.clear svg path {
  fill: var(--greyDark);
}

.clear:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.clear:hover svg path {
  fill: var(--primary);
}

.clear:active svg path {
  fill: var(--primary);
}

.table__window {
  padding: 10px;
}

.table__input {
  outline: none;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 20%;
  margin: 5px;
  text-align: center;
  background: var(--greyLight-1);
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--primary);
}

.table__btns {
  margin-top: 20px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table__button {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20%;
}

.table__button::after {
  content: '';
  height: 15px;
  width: 3px;
  background: var(--greyDark);
  border-radius: 20%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.table__button:hover::after {
  background: var(--primary);
}

.table__button:active {
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
          box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.table__button:active::before {
  background: var(--primary);
}

.table__button:active::after {
  background: var(--primary);
}

.plus::before {
  content: '';
  height: 15px;
  width: 3px;
  background: var(--greyDark);
  border-radius: 20%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.plus:hover::before {
  background: var(--primary);
}

.modal {
  display: block;
  position: absolute;
  z-index: 4;
  top: -110%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(32, 34, 45, 0.8);
}

.modal__wrapper {
  width: 600px;
  position: relative;
  margin: 0 auto;
}

.modal__window {
  margin: 15% auto;
  padding: 20px;
  background: var(--greyDark);
  -webkit-box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.05), 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.05), 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  width: 600px;
  height: 500px;
  max-width: 100%;
}

.close {
  position: absolute;
  top: -11%;
  left: 110%;
  height: 30px;
  width: 30px;
  font-size: 18px;
}

.close img {
  width: 30px;
}

#mynetwork {
  background-color: #20222d;
}

#mynetwork .vis-manipulation {
  background: none;
  padding: 10px;
  position: absolute;
  bottom: 0;
  top: auto;
}

#mynetwork .vis-edit-mode {
  position: absolute;
  bottom: 0px;
  margin-bottom: 7px;
  margin-left: 10px;
  top: auto;
  border: none;
}

#mynetwork .vis-edit {
  background: none;
  color: #fff;
}

#mynetwork .vis-button {
  background: rgba(255, 255, 255, 0.1);
  width: 70px;
  border-radius: 10px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#mynetwork .vis-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

#mynetwork .vis-edit .vis-label {
  margin-left: 0;
}

#mynetwork .vis-add, #mynetwork .vis-connect {
  width: 80px;
}

#mynetwork .vis-add .vis-label, #mynetwork .vis-connect .vis-label, #mynetwork .vis-back .vis-label {
  margin-left: 0;
}

#mynetwork .vis-delete {
  width: 120px;
}

#mynetwork .vis-delete .vis-label {
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */